body
{
    padding-top: 50px;
}
.alert
{
    display: none;
}
h1
{
    margin-bottom: 10px;
}

input[type="text"]{
height:55px;
border: 2px solid black;
}

.searchBtn{
	border: 2px solid #4ed0d1;
	background-color: #4ed0d1;
	color: black;
	font-weight: 800;
	letter-spacing: 3px;
}
.searchBtn:hover{
	background-color: #43b3b4;
	border: 2px solid #43b3b4;
}


/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  60px; }
.right-addon input { padding-right: 60px; }

.datepicker{
    border: 2px solid black;
    height: auto;
}

#input_container {
    position:relative;
    margin:0;
    background:#ddd;

}
#input {
    height:20px;
    margin-left:30px;
    padding-left: 80px;
    text-align: center;
}
#input_img {
    position:absolute;
    bottom:8px;
    left:-40px;
    top:0px; 
}
.input2{
    margin-left:20px;
}

h3{
    letter-spacing: 2px;
    text-align: center;
}
.dateinputs{
    width:50px;
}
.container{
    min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad the bottom by footer height */
  padding: 0 0 30px;
}
.oneWay{
display: :none;
}
.navbar{
	height:80px;
}

* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto 0;
}
.footer, .push {
height: 5em;
text-align: center;
/*background-color: #ddd;
*/position: relative;
top:-40px;
}
#footer {
  text-align: center;
}
.panel-footer{
  position: relative;
  top:-55px;
}