/* login and registartion begin  */

.row{
  margin-top:150px;
}
.logoTxt{
  letter-spacing:4px;
  text-transform: uppercase;
  color:white;
  font-size: 18px;
  text-align: center;
  margin-left:-30px;
}
/*.box input{
  background-color: transparent;
  text-align: center;
  letter-spacing: 2px;
}*/
.buttons{
  background-color: #3aaaab;
}
.loginBtnTxt{
  color:white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
}
.buttons:hover{
  background-color: #236f70;
  color:white;
}
.box{
  background-color: white;
  padding: 20px;
}
.login{
  background-color: #3aaaab;
}
.register{
  float:right;
  margin-right:20px;
}
nav{
  height: 70px;
}
.dropdown-toggle{
  margin-top:20px;
  background-color: transparent;
  color: white;
}
.welcomeUser{
  margin-top: 15px;
}
.modal-title{
  text-align: center;
}
.modal-header{
  background-color: black;
  color:#ddd;
  letter-spacing: 2px;
}
body.modal-open .container{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    filter: url("https://gist.githubusercontent.com/amitabhaghosh197/b7865b409e835b5a43b5/raw/1a255b551091924971e7dee8935fd38a7fdf7311/blur".svg#blur);
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}
.modal{
  margin-top: 100px;
}
.btn-danger{
  float:right;
  letter-spacing: 1px;
  margin-right: 40px;
}
h4{
  text-align: center;
  letter-spacing: 1px;
  margin-top: 10px;
  }
  table{
    margin-top: 30px;
    text-align: center;
  }
  th{
    text-align: center;
  }
  h3{
    text-align: center;
  }
  .btnNext{
   margin-left:0px;
   width:400px;
   letter-spacing: 2px;
  }
