* {
  margin: 0;
  border-radius: 0 !important;
}


.glyphicon {
	text-decoration: none;
}

.navbar p {
	color:white;
}

html, body {
  height: 100%;
}
.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -90px;
  	text-decoration: none;
}
.container:after {
  content: "";
  display: block;
}

#history {
	position:fixed;
}
.panel-footer, .container:after {
  height: 90px;
}

#footer {
	text-align: center;
}

.separator {
	height: 60px;
}

.flight_separator {
	height: 50px;
}

#overwiev p {
	font-size: 18px;
    line-height: 30px;
}

#blue{
	background-color: mediumturquoise;
  padding: 10px;
}

#grey{
	background-color: whitesmoke;
	padding-top: 10px;
	padding-bottom: 10px;
}

#overwiev img {
	margin: 5px;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}
.flight-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.btn-select {
  display: none;
  width: 100%;
}
