* {
  margin: 0;
}

a {
	text-decoration: none;
}

.glyphicon {
	text-decoration: none;
}

.navbar p {
	color:white;
}

html, body {
  height: 100%;
}
.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -90px;
  	text-decoration: none;
}
.container:after {
  content: "";
  display: block;
}

#history {
	position:fixed;
}
.panel-footer, .container:after {
  height: 90px;
}

#footer {
	text-align: center;
}

.separator {
	height: 60px;
}

.flight_separator {
	height: 50px;
}

#overwiev p {
	font-size: 18px;
    line-height: 30px;
}

#blue{
	background-color: mediumturquoise;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	   -moz-box-shadow: 0 8px 6px -6px #ccc;
	        box-shadow: 0 8px 6px -6px #ccc;
}

#grey{
	background-color: whitesmoke;
	padding-top: 10px;
	padding-bottom: 10px;
}

#overwiev img {
	margin: 5px;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}
